# Sesi 6

EDA with Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/property_data.csv')

In [3]:
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED NUM_BEDROOMS NUM_BATH SQ_FT
0  100001000.0   104.0      PUTNAM            Y            3        1  1000
1  100002000.0   197.0   LEXINGTON            N            3      1.5    --
2  100003000.0     NaN   LEXINGTON            N          NaN        1   850
3  100004000.0   201.0    BERKELEY           12            1      NaN   700
4          NaN   203.0    BERKELEY            Y            3        2  1600
5  100006000.0   207.0    BERKELEY            Y          NaN        1   800
6  100007000.0     NaN  WASHINGTON          NaN            2   HURLEY   950
7  100008000.0   213.0     TREMONT            Y           --        1   NaN
8  100009000.0   215.0     TREMONT            Y           na        2  1800

In [4]:
df['ST_NUM']

0    104.0
1    197.0
2      NaN
3    201.0
4    203.0
5    207.0
6      NaN
7    213.0
8    215.0
Name: ST_NUM, dtype: float64

In [5]:
df['ST_NUM'].isnull()

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7    False
8    False
Name: ST_NUM, dtype: bool

In [6]:
df['NUM_BEDROOMS']

0      3
1      3
2    NaN
3      1
4      3
5    NaN
6      2
7     --
8     na
Name: NUM_BEDROOMS, dtype: object

In [7]:
df['NUM_BEDROOMS'].isnull()

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7    False
8    False
Name: NUM_BEDROOMS, dtype: bool

In [8]:
missing_values = ['n/a', 'na', '--']

In [9]:
df = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/property_data.csv', na_values=missing_values)

In [10]:
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY           12           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0     NaN  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           NaN        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [11]:
cnt = 0
for row in df['OWN_OCCUPIED']:
    try:
        int(row)
        df.loc[cnt, 'OWN_OCCUPIED']=np.nan
    except ValueError:
        pass
    cnt+=1

In [12]:
df.head()

           PID  ST_NUM    ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0     PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0  LEXINGTON            N           3.0      1.5     NaN
2  100003000.0     NaN  LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0   BERKELEY          NaN           1.0      NaN   700.0
4          NaN   203.0   BERKELEY            Y           3.0        2  1600.0

In [13]:
df.isnull().sum()

PID             1
ST_NUM          2
ST_NAME         0
OWN_OCCUPIED    2
NUM_BEDROOMS    4
NUM_BATH        1
SQ_FT           2
dtype: int64

In [14]:
df.isnull().values.any()

True

In [15]:
df.isnull().sum().sum()

12

In [16]:
df['ST_NUM'].fillna(125, inplace=True)

In [17]:
df

           PID  ST_NUM     ST_NAME OWN_OCCUPIED  NUM_BEDROOMS NUM_BATH   SQ_FT
0  100001000.0   104.0      PUTNAM            Y           3.0        1  1000.0
1  100002000.0   197.0   LEXINGTON            N           3.0      1.5     NaN
2  100003000.0   125.0   LEXINGTON            N           NaN        1   850.0
3  100004000.0   201.0    BERKELEY          NaN           1.0      NaN   700.0
4          NaN   203.0    BERKELEY            Y           3.0        2  1600.0
5  100006000.0   207.0    BERKELEY            Y           NaN        1   800.0
6  100007000.0   125.0  WASHINGTON          NaN           2.0   HURLEY   950.0
7  100008000.0   213.0     TREMONT            Y           NaN        1     NaN
8  100009000.0   215.0     TREMONT            Y           NaN        2  1800.0

In [18]:
df.loc[4, 'ST_NUM'] = 130

In [19]:
median = df['NUM_BEDROOMS'].median()

In [20]:
df['NUM_BEDROOMS'].fillna(median, inplace=True)

In [21]:
data = pd.ExcelFile('dataset/obes.xls')

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/obes.xls'

In [ ]:
data.sheet_names

In [ ]:
data_age = data.parse(u'7.2', skiprows=4, skipfooter=14)

In [ ]:
data_age.head()

In [ ]:
data_age.rename(columns={'Unnamed: 0': 'Year'}, inplace=True)

In [ ]:
data_age.head()

In [ ]:
data_age.dropna(inplace=True)

In [ ]:
data_age.head()

In [ ]:
data_age.set_index('Year', inplace=True)

In [ ]:
data_age.head()

In [ ]:
data_age.plot()

In [ ]:
data_age_minus_total = data_age.drop('Total', axis=1)

In [ ]:
data_age_minus_total.plot()

In [ ]:
data_age['Under 16'].plot(label='Under 16', legend=True)
data_age['35-44'].plot(label='35-44', legend=True)

## Time Series

In [ ]:
from datetime import datetime

In [ ]:
date_rng = pd.date_range(start='1/01/2020', end='1/08/2020', freq='H')

In [ ]:
date_rng

In [ ]:
df = pd.DataFrame(date_rng, columns=['date'])

In [ ]:
df.head()

In [ ]:
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))

In [ ]:
df.head()

In [ ]:
df.set_index('date', inplace=True)

In [ ]:
df.head()

In [ ]:
df[
    df.index.day == 2
]

In [ ]:
df['2020-01-03']

In [ ]:
df['2020-01-04':'2020-01-06']

In [ ]:
df.resample('D').mean()

In [ ]:
df.rolling(3).sum()

In [ ]:
opsd_daily = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/opsd_germany_daily.csv')

In [ ]:
opsd_daily.head()

In [ ]:
opsd_daily.set_index('Date', inplace=True)

In [ ]:
opsd_daily.head()

In [ ]:
opsd_daily.index

In [ ]:
opsd_daily = pd.read_csv('https://raw.githubusercontent.com/ardhiraka/PFDS_sources/master/opsd_germany_daily.csv',
                         index_col=0,
                         parse_dates=True)

In [ ]:
opsd_daily.head()

In [ ]:
opsd_daily['Year'] = opsd_daily.index.year
opsd_daily['Month'] = opsd_daily.index.month
opsd_daily['Weekday'] = opsd_daily.index.weekday

In [ ]:
opsd_daily.head()

In [ ]:
opsd_daily['Consumption']

In [22]:
opsd.daily['Consumtion'].plot(linewidth=0.5)

NameError: name 'opsd' is not defined